/* 700px hoặc nhỏ hơn */
@media screen and (max-width: 780px) {
    #menu ul{
        padding: 10px 0;
        margin: 0;
    }
    #menu ul li {
        margin: 0 10px;
        font-size: 18px;
    }
    #slogan{
        font-size: 60px;
    }

    #chung-nhan .ve-sinh, #chung-nhan .gia-truyen{
        height: 320px;
    }
    #nguyen-lieu .content{
        margin-left: 100px;
    }

}